<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Enter the dimensions of your parcel</h1>
    <form action='/calculate_shipping'>
      <div class='form-group'>
        <label for='length'>Enter the length of your parcel</label>
        <input id='length' name='length' class='form-control' type='number'>
      </div>
      <div class='form-group'>
        <label for='width'>Enter the length of your parcel</label>
        <input id='width' name='width' class='form-control' type='number'>
      </div>
      <div class='form-group'>
        <label for='height'>Enter the height of your parcel</label>
        <input id='height' name='height' class='form-control' type='number'>
      </div>
      <div class='form-group' id = "shippingCost">

      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
